.breath {
   padding-top: 60px;
   background-image: url(../images/dist/Breath/background.svg);
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   &__title {
      @extend .section__title-pos;
      h3 {
         text-align: center;
         font-family: 'Merienda One', cursive;
         font-size: 54px;
         line-height: 130%;
         color: #000;
         margin-bottom: 22px; 
      }
      p {
         max-width: 1105px;
      }
   }
   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
         li {
            box-shadow: -26px 4px 79px rgba(168, 207, 202, 0.39);
            position: relative;
            padding: 30px 40px;
            list-style-type: none;
            align-self: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            width: 600px;
            overflow: hidden;
            h6 {
               font-weight: 500;
               font-size: 32px;
               line-height: 47px;
               color: black;
               margin-bottom: 10px;
            }
            button {
               width: 90px;
               height: 90px;
               img {
                  margin: 0 auto;
               }
               audio {
                display: none;
               }
            }
         }
      }
   }
   &__item-bg {
         position: absolute;
         left: 0;
         top: 3px;
         z-index: -1;
         box-shadow: -26px 4px 79px rgba(168, 207, 202, 0.39);
   }
}

.button--pause-img {
   display: none;
}

.button--play.active {
   .button--pause-img {
      display: block;
   }
   .button--play-img {
      display: none;
   }
}


@media(max-width: 1380px) {
   .breath {
      padding-top: 50px;
      &__title {
         margin-bottom: 50px;
      }
      &__img {
         position: absolute;
         top: -150px;
         left: 20%;
         opacity: 0.3;
      }
      &__content {
         justify-content: center;
         position: relative;
         ul {
            z-index: 10;
         }
      }
   }
}
@media(max-width: 767px) {
   .breath {
      &__title {
         h3 {
            font-size: 46px;
         }
         p {
            font-size: 20px;
            line-height: 110%;
         }
      }
   }
}

@media(max-width: 640px) {
   .breath {
      &__content {
         ul {
            li {
               background-color: rgba($color: #1A7F72, $alpha: 0.3);
               border: #1A7F72 1px solid;
               border-radius: 20px;
               padding: 20px;
               width: 400px;
               align-items: center;
               margin-bottom: 20px;
               h6 {
                  font-size: 28px;
               }
               p {
                  font-size: 20px;
               }
               button {
                  width: 60px;
                  height: 60px;
               }
            }
         }
      }
      &__item-bg {
        display: none;

      }
   }
   .button--pause-img {
      width: 20px;
      height: 20px;
   }
}
@media(max-width: 435px) {
   .breath {
      &__content {
         ul {
            li {

               width: 310px;
               margin-bottom: 10px;
               h6 {
                  font-size: 18px;
                  margin-bottom: 1px;
               }
               button {
                  width: 50px;
                  height: 50px;
               }
               p {
                  font-size: 16px;
               }
            }
         }
      }
   }
}