.main {
   margin-top: 130px;
}

.button {
   color: #fff;
   border: none;
   outline: none;
   background-color: $mainColor;
   text-align: center;
   font-weight: 500;
   background-color: linear-gradient(180deg, #259385 0%, #159685 100%);
   border: $mainColor 1px solid;
   box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
   border-radius: 50px;
   &:active {
      transform: translateY(1px);
   }
   &:hover {
      color: #000;
     background-color: #3BD1BB;
      border: $mainColor 1px solid;
   }
}


.section__title {
   text-align: center;
   font-family: 'Merienda One', cursive;
   font-size: 54px;
   line-height: 130%;
   color: #000;
   margin-bottom: 22px;
}

.section__title-pos {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media (max-width: 768px) {
   .main {
      margin-top: 80px;
   }
}