
$needcolor: linear-gradient(270deg, #378377 0%, rgba(176, 234, 226, 0) 100%);
.meditation {
   background-image: url(../../../images/dist/meditation/Background.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-bottom: 53px;
   &__inner {
      padding: 200px 0;
   }
   &__title {
      @extend .section__title-pos;
      h3 {
         @extend .section__title;  
      }
      p {
         max-width: 1105px;
         margin-bottom: 70px;
      }
  
   }
   &__content {
    display: grid;
    grid-template-columns: 1fr 0.6fr 1fr;
    grid-gap: 70px;
    ul {
       li {
         // background: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
         // border: 3px solid ;
         // border-color: linear-gradient(to right, blue, pink);
         border-radius: 15px;
          min-height: 200px;
         //  padding: 25px 35px;
          margin-bottom: 100px;
          h6 {
             z-index: 10;
            font-weight: 500;
            font-size: 32px;
            line-height: 47px;
            color: black;
            margin-bottom: 3px;
          }
        
       }
    }
    .list-second {
      //  text-align: right;
       li {
         z-index: 10;
         position: relative;
          svg {
            position: absolute;
            z-index: -2;
            top: 0;
            right: 0;
         }
       }
    }
    .list-first {
            text-align: right;
      li {
         z-index: 10;
         position: relative;
          svg {
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
         }
       }
    }
   }
}

.meditation__item-left {
  padding: 1rem;
  position: relative;
  background: linear-gradient(270deg, #378377 0%, rgba(176, 234, 226, 0) 100%);
  padding: 3px;
}

.meditation__item-box-left {
   min-height: 204px;
   border-radius: 15px;
   background: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
   padding: 2rem;
}

.meditation__item-right {
   padding: 1rem;
   position: relative;
   background: linear-gradient(90deg, #378377  0%,
   rgba(176, 234, 226, 0) 100%);
   padding: 3px;
 }
 
 .meditation__item-box-right {
    min-height: 204px;
    border-radius: 15px;
    background: linear-gradient(90deg, #C3EEE8 28.13%,
    rgba(195, 226, 222, 0.75) 63.02%,
    rgba(231, 243, 242, 0.4) 100%);
    padding: 2rem;
 }


 @media(max-width: 1528px) {
   .meditation {
      &__content {
         position: relative;
         grid-template-columns: 1fr 1fr;
         img {
            position: absolute;
            left: 35%;
            top: 10%;
            opacity: 0.3;
         }
         ul {
            li {
               flex: 1;
            }
         }
      }
   }
}

@media(max-width: 1200px) {
   .meditation {
      &__content {
         position: relative;
         grid-template-columns: 1fr 1fr;
         grid-gap: 40px;
         img {
            position: absolute;
            left: 25%;
            top: 10%;
            opacity: 0.3;
         }
         ul {
            li {
               margin-bottom: 50px;
            }
         }
      }
      &__item-right, &__item-left {
         margin-bottom: 0;
         height: 250px;
      }
      &__item-box-right, &__item-box-left {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         height: 100%;
      }
   }
}

@media(max-width: 1024px) {
   .meditation {
      &__content {
         position: relative;
         grid-template-columns: 1fr 1fr;
         img {
            position: absolute;
            left: 35%;
            top: 10%;
            opacity: 0.3;
         }
         ul {
            li {
               margin-bottom: 40px;
            }
         }
      }
      &__item-right, &__item-left {
         margin-bottom: 0;
         height: 350px;
      }
      &__item-box-right, &__item-box-left {
         display: flex;
         flex-direction: column;
         height: 100%;
      }
   }
}

@media(max-width: 767px) {
   .meditation {
      &__inner {
         padding: 80px 0;
      }
      &__title {
         h3 {
            font-size: 40px;
         }
         p {
            font-size: 20px;
         }
      }
   }
}

@media(max-width: 667px) {
   .meditation {
      &__content {
         position: relative;
         grid-template-columns: 1fr;
         grid-gap: 10px;
         img {
            position: absolute;
            left: 35%;
            top: 10%;
            opacity: 0.3;
         }
         ul {
            li {
               margin-bottom: 20px;
            }
         }
      }
      &__item-right, &__item-left {
         margin-bottom: 0;
         height: 250px;
      }
      &__item-left {
         text-align: left;
         padding: 1rem;
         position: relative;
          background: linear-gradient(90deg, #378377  0%,
         rgba(176, 234, 226, 0) 100%);
         padding: 3px;
      }
      &__item-box-left {
         min-height: 204px;
         border-radius: 15px;
         background: linear-gradient(90deg, #C3EEE8 28.13%,
         rgba(195, 226, 222, 0.75) 63.02%,
         rgba(231, 243, 242, 0.4) 100%);
         padding: 2rem;
      }
      &__item-box-right, &__item-box-left {
         display: flex;
         flex-direction: column;
         height: 100%;
      }
   }
}

@media(max-width: 667px) {
   .meditation {
      &__content {
         ul {
            li {
               h6 {
                  z-index: 10;
                 font-weight: 500;
                 font-size: 26px;
                 line-height: 47px;
                 color: black;
                 margin-bottom: 3px;
               }
               p {
                  font-size: 20px;
               }
            }
         }
      }    
   }
}

@media(max-width: 380px) {
   .meditation {
      &__content {

      }
      &__item-right, &__item-left {
         margin-bottom: 0;
         height: 280px;
      }
   }
}