.practice {
   background-image: url(../../../images/dist/Practice/background.svg);
   background-position: right;
   background-repeat: no-repeat;
   padding: 70px;
   &__inner {
  
   }
   &__title {
      @extend .section__title-pos;
      margin-bottom: 70px;
      h3 {
         max-width: 706px;
         @extend .section__title; 
      }
      p {
         max-width: 1105px;
      }
   }
   &__content {
      display: flex;
      justify-content: space-between;
      ul {
         li {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            list-style-type: none;
            align-self: center;
            width: 720px;
            padding: 35px 40px;
            margin-bottom: 10px;
            transition: all 0.3s ease 0s;
            h6 {
               font-weight: 500;
               font-size: 32px;
               line-height: 47px;
               color: black;
               margin-bottom: 10px;
            }
            p {
               margin-bottom: 5px;
            }
            button {
               opacity: 0;
               align-self: flex-end;
               outline: none;
               background-color: inherit;
               border: none;
            }
         }
         li.active {
            background-color: #fff;
            box-shadow: 0px 8px 50px rgba(26, 127, 114, 0.2);
            border-radius: 20px;
            button {
               opacity: 1;
              
            }
         }
      }
   }
}

@media(max-width: 1570px) {
 .practice {
    padding: 40px 70px;
    &__content {
       position: relative;
       flex-direction: column;
       img {
         opacity: 0.3;
         position: absolute;
         top: 0;
         left: 0;
       }
       ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 10;
       }
    }
 }
}

@media(max-width: 800px) {
   .practice {
      padding: 0;
      &__title {
     
         margin-bottom: 30px;
         h3 {
         
            font-size: 46px;
         }
         p {
            font-size: 20px;
            line-height: 110%;
         }
      }
      padding-top: 0;
      &__content {
         ul {
            li {
               width: 500px;
            }
         }
      }
   }
}

@media(max-width: 550px) {
   .practice {
      &__title {
         h3 {
            font-size: 35px;
            margin-bottom: 0;
         }
         p {
            display: none;
         }
      }
      &__content {
         ul { 
            li {
               width: 300px;
               h6 {
                  font-size: 30px;
               }
               p {
                  font-size: 20px;

               }
               button {
                  width: 100px;
               }
            }
         }
      }
   }
}